@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --dark-purple: #8675a9;
  --purple: #c3aed6;
  --pink: #efbbcf;
  --beige: #ffd5cd;
}

* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #c3aed6;
}

.welcome {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c3aed6;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
  margin: 30px 0;
  width: 70%;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.welcome p {
  width: 92%;
  text-align: center;
  font-size: 20px;
  color: #4c4c4c;
  margin: 10px 0;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  background-color: #efbbcf;
  border-radius: 25px;
  padding: 30px 0;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.6);
}

label {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
  color: #333333;
}

input {
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 25px;
  padding: 5px 0;
  outline: none;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #8675a9;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--purple);
}

.start {
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 25px;
  outline: none;
  margin-top: 30px;
  background-color: #8675a9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.start:hover {
  transform: scale(1.1);
}

header {
  width: 100%;
  margin: 0;
}

.freepik {
  color: #ffd5cd;
  font-size: 10px;
  text-decoration: none;
}

header img {
  width: 100%;
}
main {
  border: 15px solid #efbbcf;
}

.cuento {
  padding: 15px 4%;
}

h2 {
  font-size: 42px;
  text-align: center;
  margin: 10px 0;
  color: #8675a9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
}

main p {
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.image-container,
.image-container2 {
  display: flex;
  align-items: center;
}

.image-container img {
  width: 30%;
  margin-right: 4%;
  border-radius: 10px;
}

.image-container2 img {
  width: 30%;
  margin-left: 4%;
  border-radius: 10px;
}

.end p {
  text-align: center;
  font-size: 28px;
}

.back {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
}

.back-btn {
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 25px;
  outline: none;
  margin: 30px;
  background-color: #8675a9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}